<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="classes" name="Suite">
	<test thread-count="5" parallel="classes" name="Test">
		<classes>
			<class name="test.java.TestClass">
				<methods>
					<include name="mobishopping()" />
					<include name="order()" />
				</methods>
			</class>
			<class name="test.java.NaukariTestClass">
				<methods>
					<include name="naukarisignin()" />
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
